.container {
    background-image: url("../../img/workspace-bg.png");
    width: 80%;
    height: 138vh;
    position: relative;
}
.icon-img2{
    cursor: pointer;
    position: absolute;
}
.footer{
    margin: 0 10px 10px 10px;
    padding-top: 600px;
}